@charset "UTF-8";

.main-direita ol {
    margin-right: 20px;
    margin-left: -20px;
}

.main-direita ol li{
    padding: 10px;
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid #d3d2d2;
}

.main-direita a {
    text-decoration:none; 
    color: #19539e;
    font-weight: bolder;
}

.main-direita a:hover {
    color: #858788;
}

.main-direita a:active {
    color: #000000;
}

.main-direita img {
    position: absolute;
    margin-top: 2px;
}   