@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eceae7;
    color: rgba(0,0,0,1);
    margin: 0%;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/****  Cabeçalho  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
header {
    position: relative;
    margin: 0 auto;
    max-width: 950px;
}

.logotipo {
    position: relative;
    left: 40px;
}

.telefone {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: absolute;
    font-size:	14px;
    padding-right: 140px;
    padding-top: 40px;
    text-align:	right;
    width: 140px;
    top: 0;
    right: 0;
}

.whatsapp {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: absolute;
    font-size:	14px;
    padding-right: 350px;
    padding-top: 40px;
    text-align:	right;
    width: 140px;
    top: 0;
    right: 0;
}

.telefone-img {
    position: absolute;
    width: 30px;
    padding-right: 270px;
    padding-top: 48px;
    top: 0;
    right: 0;
}

.whatsapp-img {
    position: absolute;
    width: 50px;
    padding-right: 480px;
    padding-top: 38px;
    top: 0;
    right: 0;
}

.youtube-img {
    position: absolute;
    padding-right: 60px;
    padding-top: 40px;
    top: 0;
    right: 0;
}

.facebook-img {
    position: absolute;
    padding-right: 10px;
    padding-top: 40px;
    top: 0;
    right: 0;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/****  Menu Principal  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
.menu-faixa {
    background-color: #2e3e46;
    width: 100%;
    margin-top: -20px;
}

.menu-acima {
    font-weight: bolder;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.menu-acima ul	{
    font-size: 18px;
    padding: 10px;
}

.menu-acima ul li {
    display: inline;
    margin-left: 40px;
}

.menu-acima a {
    color: #eceae7;
    text-decoration:none; 
} 

.menu-acima a:hover {
    background-color: #0c161b;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu-acima a:active {
    background-color: #3a4144;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/****  Conteúdo Main  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
.main {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 950px;
    background-color: #eceae7;    
    display: flex;
    height: 1200px;
    }

.main-esquerda {
    background-color: #eceae7;
    width: 280px;
    margin-top: -30px;
    flex: initial;
}

.main-direita {
    background-color: white;
    width: 670px;
    height: 1200px;
    margin-top: -50px;
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 2px rgb(129, 128, 128);
    border-radius: 40px;
    padding-top: 10px;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/****  Menu Lateral  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
.menu-lateral {
    margin-right: 10px;
    height: 700px;
}

.menu-lateral h2 {
    margin: 10px;
    font-size: 18px;
    color: #be1e10;
}

#rapido {
    padding-top: 30px;
}

.menu-lateral li {
    margin-left: -40px;
    margin-bottom: 2px;
    padding: 5px 10px 8px;
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid #d3d2d2;
}

.menu-lateral a {
    text-decoration:none; 
    color: #858788;
}

.menu-lateral a:hover {
    color: #000000;
}

.menu-lateral a:active {
    color: #be1e10;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/****  BackGround Central  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
.main-bground figure {
    max-width: 670px;   
    margin: 0; 
}

.main-bground figure img {
    max-width: 100%;
    max-height: 100%;
    border-bottom: 20px solid #2e3e46;
    position: relative;
}

.main-bground figcaption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b00b18;
    position: absolute;
    top: 0%;
    left: 30px;
}

.main-bground figcaption h1 {
    font-size: 20px;
}

.main-bground figcaption h2 {
    font-size: 33px;
    margin-top: -10px;
    margin-bottom: 40px;
}

.main-bground figcaption a {
    font-size: 18px;
    margin-left: 30px;
    border: 1px solid #b00b18;
    color: #b00b18;
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration:none; 
    font-weight: lighter;
}

.main-bground figcaption a:hover {
    color: #2e3e46;
    border: 1px solid #2e3e46;
}

.main-bground figcaption a:active {
    color: #be1e10;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/****  Ultimas Notícias  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
.noticias-h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #b00b18;
    text-align: center; 
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 4px;
}

.noticias-h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: #b00b18;
    text-align: center; 
    font-weight: bolder;    
    margin-top: -10px;
    border-bottom: 2px solid #948889; 
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 20px; 
}

.noticias img#noticiaicon {
    width: 40px;
    position: absolute;
    margin-top: -45px;
    margin-left: 315px;
    margin-right: 0px;
    background-color: white;   
}

.noticias ol {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 40px;
    padding: 0;
}

.noticias li,
.noticias a,
.noticias figure {
    display: inline-block;
    vertical-align: top;
    width: 170px;
    margin: 2px;
}

.noticias img {
    width: 150px;
}

.noticias li:hover {
    background-color: rgba(255,255,255,0.8);
    transform: scale(1.1);
    transition: 0.5s;  
}

.noticias li h1 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
    border-bottom: 1px solid #a8a6a6;
    padding-bottom: 10px;
}

.noticias li h2 {
    font-size: 12px;
    font-weight: lighter;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
}

.noticias a {
    color: #333;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

a.mais-noticias {
    font-size: 14px;
    border: 1px solid #b00b18;
    color: #b00b18;
    padding: 4px;
    padding-right: 0px;
    padding-left: 0px;
    text-decoration:none; 
    margin-left: 240px;
    margin-right: 240px;
}

a.mais-noticias:hover {
    color: #2e3e46;
    border: 1px solid #2e3e46;
}

a.mais-noticias:active {
    color: #be1e10;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/****  Banner dos cursos  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
.banner-cursos {
    display: flex;
    width: 950px;
    margin: 0 auto;
    margin-bottom: 30px;
}  

.banner-cursos h1 {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-cursos h1#ge {
    background-color: #4cadc9;
}

.banner-cursos h1#gti {
    background-color: #75d69c;
}

.banner-cursos h1#gpi {
    background-color: #f7be68;
}


.banner-cursos h2 {
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
    margin-bottom: 50px;
}

.banner-cursos a#gpi {
    font-size: 14px;
    background-color: white;
    color: #f7be68;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;    
    position: absolute;
    border-radius: 5px;
    font-weight: bolder;
    left: 20px;
    bottom: 40px;
}


.banner-cursos a#gti {
    font-size: 14px;
    background-color: white;
    color: #75d69c;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;    
    position: absolute;
    border-radius: 5px;
    font-weight: bolder;
    left: 20px;
    bottom: 40px;
}

.banner-cursos a#ge {
    font-size: 14px;
    background-color: white;
    color: #4cadc9;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;    
    position: absolute;
    border-radius: 5px;
    font-weight: bolder;
    left: 20px;
    bottom: 40px;
}

.banner-cursos a#gpi:hover {
    color: #3a4144;
}

.banner-cursos a#gpi:active {
    color: #3a4144;
}

.banner-cursos a#gti:hover {
    color: #3a4144;
}

.banner-cursos a#gti:active {
    color: #3a4144;
}

.banner-cursos a#ge:hover {
    color: #3a4144;
}

.banner-cursos a#ge:active {
    color: #3a4144;
}

.curso-gpi {
    flex: 1;
    margin: 0%;
    display: inline-block;
    position: relative;
}

.curso-gpi img {
    width: 317px;
}

.curso-gpi figcaption {
    color: white;
    position: absolute;
    top: 0px;
}

.curso-gti {
    flex: 1;
    margin: 0%;
    display: inline-block;
    position: relative;
}

.curso-gti img {
    width: 317px;
}

.curso-gti figcaption {
    color: white;
    position: absolute;
    top: 0px;
}

.curso-ge {
    flex: 1;
    margin: 0%;
    display: inline-block;
    position: relative;
}

.curso-ge img {
    width: 317px;
}

.curso-ge figcaption {
    color: white;
    position: absolute;
    top: 0px;
}


/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/****  Rodapé com informações  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
.rodape-info {
    background-color: #2e3e46;
    width: 100%;
    color: white;
    padding-top: 15px;
    padding-bottom: 40px;
    display: flex;
}

.conteudo1 {
    flex: 1;
    margin-left: 30px;
}

.conteudo1-linha {
    background-color: #b00b18; 
    color: black;
    font-size: 3px;
    width: 80px;
    margin-bottom: -10px;
}

.conteudo1 h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.conteudo1 h2 {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(184, 184, 184);
}

.conteudo1 h2 b {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.conteudo2 {
    flex: 1;
}

.logo_cps {
    width: 300px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.conteudo3 {
    flex: 1;
    margin-right: 30px;
}

.img-depoimentos {
    float: left;
    margin-right: 20px;
    margin-top: -20px;    
}

.conteudo3-linha {
    background-color: #b00b18; 
    color: black;
    font-size: 3px;
    width: 80px;
    margin-bottom: -10px;
}

.conteudo3 h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.conteudo3 h2 {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(184, 184, 184);
}

.conteudo3 h3 {
    font-size: 14px;
    font-weight: bolder;
    color: white;
}


/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/****  Rodapé com Copyright  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
.rodape {
    position: relative;
    background-color: #151d20;
    width: 100%;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}