@charset "UTF-8";

label[for="bt_menu"]{
    visibility: visible;
}

#bt_menu {
    float: none;
}

#bt_menu:checked ~ .main nav {
    transform: translate(0%, 0);
    display: block;
}



/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  Cabeçalho  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
header {
    max-width: 96%;
    padding-bottom: 60px;
}

.logotipo {
    max-width: 75%;
    margin-top: 10px;
}

.youtube-img,
.facebook-img,
.whatsapp-img{
    margin-top: 60px;
}

.twitter-img {
    margin-top: 105px;
    margin-right: 50px;
}

.instagram-img {
    margin-top: 105px;
    margin-right: 150px;
}

.whatsapp-img {
    position: absolute;
    padding-right: 60px;
    padding-top: 60px;
    margin-right: 150px;
}

.telefone,
.telefone-img,
.whatsapp,
.whatsapp2,
.whatsapp-img2 {
    display: none;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  Menu Principal  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
.menu-acima {
    max-width: 96%;
    position: static;
    text-align: center;
    margin-left: -20px;
}

.menu-acima ul	{
    font-size: 12px;
}

.menu-acima ul li {
    display: inline-block;
    margin-left: 10px;
    padding: 7px;
}

.websai-img {
    max-width: 50px;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  Conteúdo Main  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
.main {
    max-width: 96%;
}

.main-direita {
    max-width: 96%;
}


/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  Menu Lateral  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */

.menu-lateral {
    position: absolute;
    top: 100px;
    right: 0px;
    margin-right: 0px;
    bottom: 0px;
    width: 260px;
    height: 100%;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 1;
    transition: all .4s;
    transform: translate(200%, 0);
    display: none;
}


/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  BackGround Central  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
.main-bground figcaption h1 {
    font-size: 14px;
    margin-left: -10px;
}

.main-bground figcaption h2 {
    font-size: 24px;
    margin-left: -10px;
}

.main-bground figcaption a {
    font-size: 10px;
    margin-left: -20px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  BackGround Central(Vest)  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */

.main-vest figure a {
    font-size: 18px;
    margin-left: 30px;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  Ultimas Notícias  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
.noticias-h2 {
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 5px; 
}

.noticias img#noticiaicon {
    display: none;
}

a.mais-noticias {
    margin-left: 60px;
    margin-right: 90px;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  Banner dos cursos  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
.banner-cursos {
    display: table-row;
    max-width: 100%;
}  

.curso-gpi,
.curso-gti, 
.curso-ge {
    margin-left: 10px;
    max-width: 100%;
}

.curso-gpi img,
.curso-gti img,
.curso-ge img {
    max-width: 100%;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  Rodapé com informações  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
.rodape-info {
    max-width: 96%;
    display: table-row;
}

.conteudo1 {
    margin-top: 10px;
}

.conteudo1 h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.logo_cps {
    margin-left: 30px;
    width: 250px;
    margin-top: 20px;
}

.conteudo3 {
    margin-left: 30px;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/****  Rodapé com Copyright  ****/
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
/*  =-=-=-=-=-=-=-=-=-=-=-=-=-  */
.rodape {
    max-width: 100%;
    font-size: 12px;
}
