@charset "UTF-8";

.main-direita ul {
    padding: 10px;
}

.main-direita ul li{
    list-style: none;
    padding: 5px;
}

.main-direita a {
    text-decoration:none; 
    color: #19539e;
    font-weight: bolder;
}

.main-direita a:hover {
    color: #858788;
}

.main-direita a:active {
    color: #000000;
}

.main-direita img {
    position: absolute;
    margin-top: 2px;
}