@charset "UTF-8";

.main-direita a {
    text-decoration:none; 
    color: #19539e;
    font-weight: bolder;
}

.main-direita a:hover {
    color: #858788;
}

.main-direita a:active {
    color: #000000;
}

.main-direita img {
    position: relative;
    width: 95px;
}

#docentes {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 14px;
}

#docentes tr th {
    border: 1px solid #ddd;
    text-align: left;
}

#docentes tr:nth-child(even){background-color: #f2f2f2}

#docentes tr:hover {background-color: #ddd;}

#docentes th {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #19539e;
    color: white;
}

#docentes tr td {
    padding: 5px;
}